body {

}

#css_table {
  /*display: table;*/
  /*border-collapse: collapse;*/
}

.header {
  
}

.css_trow {
  /*display: table-row;*/
  /*height: 15%;*/
  margin: 5px;
}

.css_tcol {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  border: 2px solid powderblack;
  border-style: outset;
  border-radius: 20%;
  width: 30px;
  height: 30px;
  background-color: #dddddd;
  vertical-align: middle;
}

/*td {
  padding: 20px;
}*/
